<%= form_for @rent, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :movie_id, :class => 'control-label' %>
    <div class="controls">
       <%= f.collection_select :movie_id, Movie.all, :id, :Name, :prompt => "Select a movie", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :member_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :member_id, Member.all, :id, :Name, :prompt => "Select a member", :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Return date", :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :borrowDate, :class => 'input-append date', :style => "height: 1000px" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                rents_path, :class => 'btn' %>
  </div>
<% end %>
